*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: scroll;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;

  color: #242424;
  background-color: #f5f5f5;
}

.back-link {
  display: block;
  padding: 25px 0px 25px 0px;

  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;

  @media only screen and (min-width: 320px) {
    text-align: center;
  }

  @media only screen and (min-width: 759px) {
    text-align: left;
  }
}

.back-link:hover,
.back-link:focus {
  color: blue;
}
